<form method="POST" action="/concerts/add">
    <div>
        Artist: <input type="text" name="artist" required>
    </div>
    <div>
        Venue: <input type="text" name="venue" required>
    </div>
    <div>
        Location: <input type="text" name="location" required>
    </div>
    <div>
        Date: <input type="Date" name="date">
    </div>
    <div>
        Status:
       <select id="status" name="Status" required>
            <option value="upcoming">Upcoming</option>
            <option value="past">Past</option>
          
        </select>  
    </div>

    <div class="submit-btn">
        <input type="submit" value="Submit">

    </div>
</form>