<form method="POST" action="/reviews/add">
    <div>
        Course Number: <input type="text" name="courseNumber">
    </div>
    <div>
        Course Name: <input type="text" name="courseName">
    </div>
    <div>
        Semester: <input type="text" name="semester">
    </div>
    <div>
        Year: <input type="text" name="year">
    </div>
    <div>
        Professor: <input type="text" name="professor">
    </div>
    <div>
        Review: <input type="text" name="review">
    </div>
    <input type="submit" value="Submit">
</form>