<form method="POST" action="/concerts/add">
    <div>
        Artist: <input type="text" name="artist" required>
    </div>
    <div>
        Venue: <input type="text" name="venue" required>
    </div>
    <div>
        Location: <input type="text" name="location" required>
    </div>
    <div>
        Date: <input type="Date" name="date">
    </div>
    <div>
        Status: <input type="text" name="status">
    </div>

    <input type="submit" value="Submit">
</form>