<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1>Concert Compass</h1>
			{{!-- <h2>Hello, {{}}</h2> --}}
		
	</header>

	<nav>
		<ul>
			
			<li><a href="/">All Concerts</a></li>
			<li><a href="/concerts/add">Add Concert</a></li>
			<li><a href="/venues">Venues</a></li>
		</ul>
	</nav>
	<div id="content">
		{{{ body }}}
	</div> 

</body>
</html>
