<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<header>
			<h1 class="title">Concert Compass</h1>
		
	</header>
<div id="userData"></div>
	<p class="welcome">Welcome, {{user.display_name}}!</p>
<div id="container">

	<nav>
		<ul class="tabs">
			<li><a href="/" class="active">All Concerts</a></li>
			<li><a href="/concerts/add" class="">Add Concert</a></li>
			<li><a href="/venues"class="">Venues</a></li>
		</ul>
	</nav>
	<div id="content">
		{{{ body }}}

	</div> 

	<div class="insights">
    <h1 class="section-title">Insights</h1>
    <div class="insights-content">
        <h2 class="subheading">Top Artists:</h2>
        <ul class="artist-list">
            {{#each artist.items}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>


</body>
</html>
